.idea
.vscode
*.iml
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/uploads/
/public/backups/
/storage/logs/
/storage/clockwork/*
/public/webhook.php
/public/webhook.log
